<h2>My Foods</h2>
<ul class="heroes">
    <li *ngFor="let food of foods">
        <a routerLink="/detail/{{food.iddish}}">
          <span class="badge">{{food.iddish}}</span> {{food.dishname}}
        </a>
        <button class="delete" title="delete food"
        (click)="delete(food)">x</button>
    </li>
</ul>

<div>
    <label>Food name:
      <input #foodName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(foodName.value); foodName.value=''">
      add
    </button>
  </div>

