<div *ngIf="ingred">
  <h2>{{ingred.ingrName | uppercase}} Details</h2>
  <div><span>id: </span>{{ingred.idingrenames}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="ingred.ingrname" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>


  <h2>{{ingred.ingrname | uppercase}} related foods</h2>

  <ul class="heroes">
    <li *ngFor="let food of foods">
        <a routerLink="/detail/{{food.iddish}}">
          <span class="badge">{{food.iddish}}</span> {{food.dishname}}
        </a>

    </li>
</ul>

  </div>